<!DOCTYPE>
<html ng-app>

<!--<![endif]-->
<head>

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>

<body>
<div ng-include="'views/header/header.html'"></div>
	<div class="container">
		<div class="wrapper">
			<div class="row">
				<div class="span4"></div>
				<div class="span4">
					<img class="center-block" src="assets/images/logo.png" />
				</div>
				<div class="span4"></div>
			</div>
			<form name="loginform" id="loginform" ng-submit="onSubmit()"
				class="form-signin">
				<h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
				<hr class="colorgraph">
				<br> <input type="text" class="form-control" name="username"
					placeholder="UserName" ng-model="usermodel.username" id="username" />
				<input type="password" class="form-control" name="password"
					placeholder="Password" id="password" ng-model="usermodel.password" />

				<button class="btn btn-lg btn-primary btn-block" name="Submit"
					value="Login" type="Submit">Login</button>
				<a href="javascript:;" class="forget" data-toggle="modal"
					data-target=".forget-modal">Forgot your password?</a>
			</form>
		</div>
	</div>
	<div ng-include="'views/footer/footer.html'"></div>
</body>

</html>