<!DOCTYPE>
<html ng-app>

<!--<![endif]-->
<head>

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>

<body>


	<div ng-include="'views/header/header.html'"></div>
	<div class="panel panel-default">
		<div class="panel-heading">Admin Console</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reports</h3>
				</div>
				<div class="panel-body">Panel content</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Actions</h3>
				</div>
				<div class="panel-body">
					<a href="#" class="btn btn-primary black-background white"
						role="button"><span class="glyphicon glyphicon-cutlery"></span>
						<br />Manage<br />Tenants</a> <a href="#"
						class="btn btn-primary black-background white" role="button"><span
						class="glyphicon glyphicon-user"></span> <br />Manage<br />Users</a>

					<a href="#" class="btn btn-primary black-background white"
						role="button"><span class="glyphicon glyphicon-phone"></span> <br />Manage<br />Devices</a>
						
					<a href="#" class="btn btn-primary black-background white"
						role="button"><span class="glyphicon glyphicon-glass"></span> <br />Manage<br />Items</a>
				</div>
			</div>
		</div>
	</div>


	<div ng-include="'views/footer/footer.html'"></div>
</body>

</html>